<?xml version="1.0"?>
<launch>
	<!-- Arguments available to run this -->
  <arg name="gui" default="true"/>
  <arg name="scene" default="1"/>
  <arg name="world" default="$(find cw3_description)/worlds/cw3_grasp_$(arg scene).world"/>
  <arg name="initial_z" default="0.73335" />
    
  <include file="$(find cw3_launch)/launch/object_iiwa.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="world" value="$(arg world)"/>
    <arg name="initial_z" value="$(arg initial_z)"/>
  </include>
  
</launch>
