<?xml version="1.0"?>
<launch>
    
    <!-- Loads thee iiwa.world environment in Gazebo. -->
    
    <!-- These are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    
    <arg name="robot_description" default="$(find iiwa_fri_description)/urdf/example_iiwa7.urdf.xacro"/>
    <arg name="hardware_interface" default="PositionJointInterface"/>
    <arg name="robot_name" default="iiwa" />
    
    <arg name="world" default="$(find iiwa_fri_gazebo)/worlds/iiwa.world"/>
    <arg name="initial_z" default="0.0" />
    
    <arg name="start_home" default="true"/>
    <arg name="paused" default="$(arg start_home)"/>
    <!--<arg name="home_angles" default=""/>-->
    <arg name="home_angles" default="-J hand_iiwa_joint_1 0.14 -J hand_iiwa_joint_2 0.49 -J hand_iiwa_joint_3 0.0 -J hand_iiwa_joint_4 -1.41 -J hand_iiwa_joint_5 0.11 -J hand_iiwa_joint_6 0.81 -J hand_iiwa_joint_7 0.0"/>
        
    <arg if="$(arg start_home)" name="spawn_model_extra_args" value="-unpause $(arg home_angles)" />    
    <arg unless="$(arg start_home)" name="spawn_model_extra_args" value="" />
    
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>
    
    <!-- Load the URDF with the given hardware interface into the ROS Parameter Server -->
    <param name="robot_description" command="xacro --inorder '$(arg robot_description)' hardware_interface:=$(arg hardware_interface) robot_name:=$(arg robot_name) initial_z:=$(arg initial_z)" />
    
    <!-- Run a python script to send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model $(arg robot_name) $(arg spawn_model_extra_args) -param robot_description "/>
    
    
</launch>
